<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Reg</title>
    <script src="/s/js/jquery-2.0.0.min.js"></script>
</head>

<body>
<h1>注册啊</h1>
<div id="status">BAD</div>
<form action="/reg" method="post">
    <input id="username" type="text" name="username" placeholder="请输入您的邮箱地址"/>
    <input type="password" name="password" placeholder="请输入您的密码"/>
    <input type="submit" value="注册！">
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('#username').blur(function() {
            $.ajax({
                url: '/user/checkname',
                data: {
                    'username': $('#username').val()
                },
                success: function(data) {
                    if(data.code == 200) {
                        $('#status').html('OK')
                    }else{
                        $('#status').html('not ok!')
                    }
                }
            })
        })
    });
</script>
</body>
</html>